

.navbar1 {
    background-color: #11403B;
}

.nav-link1{
    color: white;
}

.nav-link1:hover{
    color: #F2C894;
}

.navbar2{
    background-color: #F5F2ED; 
     border-bottom: 0.1rem solid #734124;
    padding-bottom: 0.5rem;
     
}

.nav-link2{
    
    color: #11403B;
     background-color: #F5F2ED;

}

.nav-link2:hover{
    color: #734124;
   border-bottom: 0.1rem solid #734124;
    padding-bottom: 0.5rem;
   
    
}

.img1{
    position: relative;
    left: -160px;
}

.img2{
    position: relative;
    left: 40px;
}


.input-com-icone {
  position: relative;
}

.input-com-icone img {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  z-index: 2;
}

.input-com-icone input {
  padding-left: 50px;
}

.form-com-icone {
  position: relative;
}

.form-com-icone img {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  z-index: 2;
  pointer-events: none;
}

.form-com-icone select {
  padding-left: 50px;
}

.container{
    background-color: white;
    position: relative;
    top: -50px;
    border-radius: 15px;
    
}

.container-fluid1{
    background-color: #11403B;
}

.container-fluid2{
    background-color: #11403B;
}


.beneficio {
  display: flex;
  align-items: center;
  gap: 20px;
}

.sub1{
    color: white;
}

.p1{
    color: white;
    width: 150px;
}